{
	"env": {
		"es2020": true,
		"node": true,
		"browser": true
	},
	"extends": [
		"standard",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint",
		"react"
	],
	"ignorePatterns": [
		"*.json"
	],
	"rules": {
		"semi": "off",
		"indent": [
			"warn",
			4
		],
		"quotes": [
			"error",
			"single"
		],
		"comma-dangle": "off",
		"space-before-function-paren": "off",
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			"error"
		]
	}
}